@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes doubleJump {
    0% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-150px)
    }

    60% {
        transform: translateY(-160px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes scrollGround {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-50%)
    }
}

@keyframes obstacleAppear {
    0% {
        bottom: 0;
        z-index: 1;
    }
    100% {
        bottom: 20px;
        z-index: 5;
    }
}

.character.jumping {
    animation: jump 0.5s ease-out
}

.character.double-jumping {
    animation: doubleJump 0.8s ease-out
}

.ground {
    animation: scrollGround 20s linear infinite
}