@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }

    
  }
  
  .floating-button {
    animation: bounce 1s infinite ease-in-out;
  }
  
  .spin-animation {
    animation: spin 2s infinite linear;
  }
  