@media(max-width: 840px) {
    .game-container {
        width: 100%;
        height: 300px; 
    }
}

@media(max-width: 480px) {
    .game-container {
        width: 100%;
        height: 250px; 
    }
}
