@tailwind base;

@layer base {
  html {
    font-family: var(--font-jersey15);
    background-color: var(--baby-background);
  }
}
@import './game.css';
@tailwind components;
@tailwind utilities;

@import '../styles/layout.css';
@import '../styles/animations.css';
@import '../styles/responsive.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jersey15);
}
